body{
    background-color: #ccf5f5;
}
#gameholder{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#title{
    width: 600px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url('penguin_pngs/penguin_title.png');
}
.penguin-container{
    display: flex;
    width: 800px;
    margin-left: -100px;
    flex-wrap: wrap;
    padding-top: 75px;

}
.penguin1{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_1.png');
}
.penguin2{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_2.png');
}
.penguin3{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_3.png');
}
.penguin4{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_4.png');
}
.penguin5{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_5.png');
}
.penguin6{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_6.png');
}
.penguin7{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_7.png');
}
.penguin8{
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('penguin_pngs/mound_8.png');
}



